body {
    background-color: red;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainDiv {
    background-color: rgb(252, 178, 128);
    margin-bottom: 10px;
    padding: 1.5rem 5rem;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#mainContainer {
    background-color: wheat;
    text-align: center;
    padding: 4rem;
    border-radius: 25px;
}

#opinionTextArea {
    text-align: center;
    resize: vertical;
    width: 20%;
    height: 30%;
    margin-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 0;
}

#contactForm {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#contactForm {
    background-color: wheat;
    position: absolute;
    width: 60%;
    padding: 30px 0;
    border-radius: 20px;
}

#emailContent {
    resize: vertical;
    width: 100%;
    min-height: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

#email, #subject {
    width: 100%;
}

form > div > input, form > div > textarea{
    margin: 20px 0;
    border-radius: 10px;
    border: none;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
