<%- include('partials/header.ejs') %>

<main>
    <form id="contactForm" action="/contact" method="POST">
        <div>Email: <input id="email" type="email" name="email" placeholder="Insert your email" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"></div>
        <div>Subject: <input id="subject" type="text" name="subject" placeholder="Subject"></div>
        <div>Content: <textarea id="emailContent" name="emailContent" placeholder="Your message"></textarea></div>
        <div></div><button id="buttons" type="submit">Submit</button></div>
    </form>
</main>

<%- include('partials/footer.ejs') %>