<%- include('partials/header.ejs') %>

<body>
    <main>
        <h1>My Capstone Project v3</h1>
        <div id="mainContainer">    
            <div class="mainDiv"><a href="/blog">Blog articles</a></div>
            <div class="mainDiv"><a href="/opinion">User's opinion</a></div>
            <div class="mainDiv"><a href="/contact">Contact me</a></div>
        </div>
    </main> 
</body>

<%- include('partials/footer.ejs') %>