<%- include('partials/header.ejs') %>

<main>
    <h1>desde el user's opinon</h1>
    <textarea id="opinionTextArea" placeholder="Insert your opinion here" maxlength="500"></textarea>
    <input type="submit">
</main>

<%- include('partials/footer.ejs') %>