<%- include('partials/header.ejs') %>

<main>
    <ul id="opinion"></ul>
    <form>
        <textarea id="opinionTextArea" placeholder="Insert your opinion here" maxlength="500"></textarea>
        <input type="submit">
    </form>
    
</main>

<%- include('partials/footer.ejs') %>